<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card">
      <div class="card-header">
        SignIn Only administrator account
      </div>
      <div class="card-body">
        <form (submit)="signInAdmin()">
          <div class="form-group">
            <input type="text" [(ngModel)]="userAdmin.email" name="email" class="form-control" placeholder="Email" required autofocus>
          </div>
          <div class="form-group">
            <input type="password" [(ngModel)]="userAdmin.password" name="password" class="form-control" placeholder="Password" required>
          </div>
          <button type="submit" class="btn btn-primary btn-block">
            SignIn
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
