<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card">
      <div class="card-header">
        Add Products administrator account
      </div>
      <div class="card-body">
        <form (submit)="addProducts()">
          <div class="form-group">
            <input type="text" [(ngModel)]="product.nombre" name="nombre" class="form-control" placeholder="Nombre" required autofocus>
          </div>
          <div class="form-group">
            <input type="text" [(ngModel)]="product.precio" name="precio" class="form-control" placeholder="Precio" required>
          </div>
          <div class="form-group">
            <input type="text" [(ngModel)]="product.cantidad" name="cantidad" class="form-control" placeholder="Candidad" required>
          </div>
          <button type="submit" class="btn btn-primary btn-block">
            Add
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
